<nav class="navbar navbar-expand-sm navbar-dark bg-dark view-height">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" routerLink="/dashboard">Ticket_</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <!--         <li class="nav-item">
          <a class="nav-link active cursor-pointer" routerLink="dashboard"
            >Dashboard</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/department"
            >Departamento</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/parent-category"
            >Categorías</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/child-category"
            >Subcategorías</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/employee"
            >Empleados</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/new-ticket"
            >Nuevo Ticket</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="/ticket-list"
            >Tickets</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" (click)="onLogOff()">
          Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
